/* -- Cards -- */

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.inventory-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.301);
  overflow: hidden;
  width: 300px;
  height: 470px;
  margin: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.inventory-item:hover {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.747);
}

.inventory-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.inventory-details {
  padding: 16px;
  text-align: center;
}

.inventory-details h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  color: #333;
}

.inventory-details p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
}

.inventory-details span {
  color: #28a745;
  font-weight: bold;
}

/* BTN */
button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  margin:0 auto;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-size: 15px;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
/* BTN */

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
