@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 25px;
}

.container-logo h1 {
    font-size: 50px;
    font-family: "Shadows Into Light", cursive;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
    /* background-color: #0000007c; */
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: all .2s;
}

ul li a:hover {
    color: #ff00009d;
}

svg {
    color: #ff00009d;
    font-size: 00px;
    width: 50px;
}